<nav>
    <h1>BIQ-Cat OS</h1>
    <div>
        <ul>
            <% links.forEach(link => { %>
            <li>
                <a
                    href="<%= link.path %>"
                    class="<% if (link.active) { %> active <% } %>"
                    ><%= link.name %></a
                >
            </li>
            <% }) %>
        </ul>
        <a href="/users"
            ><span class="material-icons"> account_circle </span></a
        >
    </div>
</nav>
