<div class="about">
    <h1>Who are we?</h1>
    <h2>We are BIQ-Cat!</h2>
    <p>
        BIQ-Cat is recursive accronym, means "BIQ-Cat is quite cool & awesome toolkit", and we develop many programs and
        utilities that improve our life!
    </p>
    <p>
        In our kit you can find IRA Package Manager, BIQ Drive, CatID, Jessica AI, etc. If you didn't know about them,
        you may just try it for free! This OS is our main project that will combine best utilities from BIQ-Cat, GNU and
        Linux!
    </p>
</div>
<h1>Credits</h1>
<ul>
    <li class="icons">
        <span>Icons got from</span>
        <a href="https://www.flaticon.com" target="_blank" rel="noopener noreferrer">Flaticon</a>
    </li>
    <li class="github">
        <img src="/img/github-mark-white.svg" alt="GitHub" />
        <a href="https://github.com/maximum-zar/biq-cat_os" target="_blank">GitHub</a>
    </li>
    <li class="google">
        <i class="fa-brands fa-google">G</i>
        oogle Fonts
    </li>
</ul>
