<div id="warnings">
    <div>
        ISO is not ready right now. <br />You can download the Arch ISO and install utilities using
        <a href="#">this manual</a>
        <div class="close">X</div>
    </div>
</div>
<div class="banner">
    <h1>
        Stable release:
        <span class="release" data-branch="stable">unknown</span>
    </h1>
    <div class="download">
        <button class="download">Download ISO</button>
        <button class="download">BitTorrent</button>
    </div>
</div>
