<div class="banner">
    <h1>BIQ-Cat OS - OS of the future</h1>
    <a href="/downloads"><button class="download">Download now</button></a>
</div>
<h1>Featurs</h1>
<section class="features">
    <article>
        <img src="/img/ai.png" alt="AI" />
        <div>
            <h2>AI</h2>
            <p>
                BIQ-Cat OS uses AI to predict your choices, as powerful helper,
                etc. If you don't want some features, you may just switch them
                off
            </p>
        </div>
    </article>
    <article>
        <img src="/img/settings.png" alt="Features" />
        <div>
            <h2>All new features from Windows & Linux</h2>
            <p>
                Have you got a file system with real-time compression or
                built-in vitual machene? BIQ-Cat OS have both of them! We've
                included the best features from Windows (like WSA) and Linux
                (like Flatpak, BTRFS)
            </p>
        </div>
    </article>
    <article>
        <img src="/img/productivity.png" alt="Productivity" />
        <div>
            <h2>Applications compatibility</h2>
            <p>
                All you Android, IOS and Windows applications will work natively
                on BIQ-Cat OS! Now you can play your favourite computure games
                on PC without any emulators!
            </p>
        </div>
    </article>
</section>
<div>
    <h1>All BIQ-Cat Software INCLUDED</h1>
    <p>You can find <b>all</b> your favourite apps in this operating system</p>
    <a href="/about">Learn more about BIQ-Cat</a>
</div>
<section class="download">
    <button class="download">Download for free</button>
</section>
