<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header.ejs', {css}) %>
    </head>
    <body>
        <div id="root"><%- content %></div>
        <%- include('partials/footer.ejs', {js}) %>
    </body>
</html>
